<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.117.0" newVersion="1.0.117.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <TileExplorer.Properties.Settings>
      <setting name="VisibleMarkers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColorMarkerTextFill" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="ColorMarkerTextFillAlpha" serializeAs="String">
        <value>220</value>
      </setting>
      <setting name="ColorMarkerLine" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="ColorMarkerLineAlpha" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="ColorMarkerText" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="ColorMarkerTextAlpha" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="ColorTileVisited" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ColorTileVisitedAlpha" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ColorTileCluster" serializeAs="String">
        <value>GreenYellow</value>
      </setting>
      <setting name="ColorTileClusterAlpha" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="ColorTileMaxCluster" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="ColorTileMaxClusterAlpha" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="ColorTileMaxSquare" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="ColorTileMaxSquareAlpha" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="ColorTileVisitedLineAlpha" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ColorTileClusterLineAlpha" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ColorTileMaxClusterLineAlpha" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ColorTileMaxSquareLineAlpha" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="FontMarker" serializeAs="String">
        <value>Arial, 10pt</value>
      </setting>
      <setting name="ColorMarkerFill" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="ColorMarkerFillAlpha" serializeAs="String">
        <value>220</value>
      </setting>
      <setting name="VisibleTracks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColorTrack" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ColorTrackAlpha" serializeAs="String">
        <value>144</value>
      </setting>
      <setting name="WidthTrack" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="VisibleListMarkers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisibleListTracks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColorMarkerSelectedLine" serializeAs="String">
        <value>DarkSlateBlue</value>
      </setting>
      <setting name="WidthTrackSelected" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="WidthMarkerLineSelected" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WidthMarkerLine" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ColorMarkerSelectedFill" serializeAs="String">
        <value>DarkSlateBlue</value>
      </setting>
      <setting name="ColorTrackSelected" serializeAs="String">
        <value>DarkSlateBlue</value>
      </setting>
      <setting name="MapGrayScale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HomeLat" serializeAs="String">
        <value>51.196369</value>
      </setting>
      <setting name="HomeLng" serializeAs="String">
        <value>58.298527</value>
      </setting>
      <setting name="HomeZoom" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="FormatDistance" serializeAs="String">
        <value>0.00</value>
      </setting>
      <setting name="FormatDateTime" serializeAs="String">
        <value>yyyy.MM.dd HH:mm</value>
      </setting>
      <setting name="FormatLatLng" serializeAs="String">
        <value>0.000000</value>
      </setting>
      <setting name="VisibleFilter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormatDate" serializeAs="String">
        <value>yyyy.MM.dd</value>
      </setting>
      <setting name="FilterDay" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterDateFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterDateTo" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterYears" serializeAs="String">
        <value />
      </setting>
    </TileExplorer.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <TileExplorer.Properties.Settings>
      <setting name="TrackMinDistancePoint" serializeAs="String">
        <value>100</value>
      </setting>
    </TileExplorer.Properties.Settings>
  </applicationSettings>
</configuration>